# Gradle
.gradle/
build/
app/build/
local.properties
gradle-app.setting

# IDE
.idea/
*.iml
.vscode/
captures/

# Build artifacts
*.apk
*.aab
*.apk.idsig
*.keystore
!debug.keystore

# OS
.DS_Store
Thumbs.db

# Kotlin / Native
.cxx
.externalNativeBuild
